# **HR ANALYTICS EMPLOYEE ATTRITION AND PERFORMANCE <br> DATA CLEANING**

## **1. Load Data**

In [1]:
# Import Libraries
import pandas as pd
import numpy as np

# Load Data
employee_raw = pd.read_csv("Employee.csv")
education_raw = pd.read_csv("EducationLevel.csv")
performance_raw = pd.read_csv("PerformanceRating.csv")
rating_raw = pd.read_csv("RatingLevel.csv")
satisfaction_raw = pd.read_csv("SatisfiedLevel.csv")

employee = employee_raw.copy()
education = education_raw.copy()
performance = performance_raw.copy()
rating = rating_raw.copy()
satisfaction = satisfaction_raw.copy()

## **2. Initial Data Inspection**

In [2]:
# INITIAL DATA INSPECTION

datasets = {
    "Employee": employee,
    "EducationLevel": education,
    "PerformanceRating": performance,
    "RatingLevel": rating,
    "SatisfiedLevel": satisfaction
}

for name, df in datasets.items():
    print(f"\n{'='*40}")
    print(f"{name} Table")
    print(f"{'='*40}")
    print("Shape:", df.shape)
    print("\nInfo:")
    df.info()
    print("\nPreview:")
    display(df.head())

========================================
Employee Table
========================================
Shape: (1470, 23)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               1470 non-null   object
 1   FirstName                1470 non-null   object
 2   LastName                 1470 non-null   object
 3   Gender                   1470 non-null   object
 4   Age                      1470 non-null   int64
 5   BusinessTravel           1470 non-null   object
 6   Department               1470 non-null   object
 7   DistanceFromHome (KM)    1470 non-null   int64
 8   State                    1470 non-null   object
 9   Ethnicity                1470 non-null   object
 10  Education                1470 non-null   int64
 11  EducationField           1470 non-null   object
 12  JobRole                  1470 non-null   object
 13  MaritalStatus            1470 non-null   object
 14  Salary                   1470 non-null   int64
 15  StockOptionLevel         1470 non-null   int64
 16  OverTime                 1470 non-null   object
 17  HireDate                 1470 non-null   object
 18  Attrition                1470 non-null   object
 19  YearsAtCompany           1470 non-null   int64
 20  YearsInMostRecentRole    1470 non-null   int64
 21  YearsSinceLastPromotion  1470 non-null   int64
 22  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(9), object(14)
memory usage: 264.3+ KB

Preview:

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,...,MaritalStatus,Salary,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,...,Divorced,102059,1,No,2012-01-03,No,10,4,9,7
1,CBCB-9C9D,Leonerd,Aland,Male,38,Some Travel,Sales,23,CA,White,...,Single,157718,0,Yes,2012-01-04,No,10,6,10,0
2,95D7-1CE9,Ahmed,Sykes,Male,43,Some Travel,Human Resources,29,CA,Asian or Asian American,...,Married,309964,1,No,2012-01-04,No,10,6,10,8
3,47A0-559B,Ermentrude,Berrie,Non-Binary,39,Some Travel,Technology,12,IL,White,...,Married,293132,0,No,2012-01-05,No,10,10,10,0
4,42CC-040A,Stace,Savege,Female,29,Some Travel,Human Resources,29,CA,White,...,Single,49606,0,No,2012-01-05,Yes,6,1,1,6

========================================
EducationLevel Table
========================================
Shape: (5, 2)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EducationLevelID  5 non-null      int64
 1   EducationLevel    5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

Preview:

   EducationLevelID            EducationLevel
0                 1  No Formal Qualifications
1                 2              High School
2                 3                Bachelors
3                 4                  Masters
4                 5                 Doctorate

========================================
PerformanceRating Table
========================================
Shape: (6709, 11)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6709 entries, 0 to 6708
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   PerformanceID                    6709 non-null   object
 1   EmployeeID                       6709 non-null   object
 2   ReviewDate                       6709 non-null   object
 3   EnvironmentSatisfaction          6709 non-null   int64
 4   JobSatisfaction                  6709 non-null   int64
 5   RelationshipSatisfaction         6709 non-null   int64
 6   TrainingOpportunitiesWithinYear  6709 non-null   int64
 7   TrainingOpportunitiesTaken       6709 non-null   int64
 8   WorkLifeBalance                  6709 non-null   int64
 9   SelfRating                       6709 non-null   int64
 10  ManagerRating                    6709 non-null   int64
dtypes: int64(8), object(3)
memory usage: 576.7+ KB

Preview:

,PerformanceID,EmployeeID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
0,PR01,79F7-78EC,1/2/2013,5,4,5,1,0,4,4,4
1,PR02,B61E-0F26,1/3/2013,5,4,4,1,3,4,4,3
2,PR03,F5E3-48BB,1/3/2013,3,4,5,3,2,3,5,4
3,PR04,0678-748A,1/4/2013,5,3,2,2,0,2,3,2
4,PR05,541F-3E19,1/4/2013,5,2,3,1,0,4,4,3

========================================
RatingLevel Table
========================================
Shape: (5, 2)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RatingID     5 non-null      int64
 1   RatingLevel  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

Preview:

   RatingID           RatingLevel
0         1          Unacceptable
1         2     Needs Improvement
2         3     Meets Expectation
3         4  Exceeds Expectation
4         5      Above and Beyond

========================================
SatisfiedLevel Table
========================================
Shape: (5, 2)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SatisfactionID     5 non-null      int64
 1   SatisfactionLevel  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

Preview:

   SatisfactionID  SatisfactionLevel
0               1  Very Dissatisfied
1               2       Dissatisfied
2               3            Neutral
3               4         Satisfied
4               5     Very Satisfied

## **3. Converting Incorrect Data Type**

In [3]:
# CONVERT INCORRECT OBJECT TYPE INTO DATE TYPE

employee["HireDate"] = pd.to_datetime(
    employee["HireDate"], errors="coerce"
)
performance["ReviewDate"] = pd.to_datetime(
    performance["ReviewDate"], errors="coerce"
)

## **4. Handling Missing Values**

In [4]:
# DOUBLE CHECK MISSING VALUES FOR ALL TABLES

datasets = {
    "Employee": employee,
    "EducationLevel": education,
    "PerformanceRating": performance,
    "RatingLevel": rating,
    "SatisfiedLevel": satisfaction
}

for name, df in datasets.items():
    print(f"\n{name} - Missing Values by Column:")
    print(df.isnull().sum())

Employee - Missing Values by Column:
EmployeeID                 0
FirstName                  0
LastName                   0
Gender                     0
Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome (KM)      0
State                      0
Ethnicity                  0
Education                  0
EducationField             0
JobRole                    0
MaritalStatus              0
Salary                     0
StockOptionLevel           0
OverTime                   0
HireDate                   0
Attrition                  0
YearsAtCompany             0
YearsInMostRecentRole      0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

EducationLevel - Missing Values by Column:
EducationLevelID    0
EducationLevel      0
dtype: int64

PerformanceRating - Missing Values by Column:
PerformanceID                      0
EmployeeID                         0
ReviewDate                         0
EnvironmentSatisfaction            0
JobSatisfaction                    0
RelationshipSatisfaction           0
TrainingOpportunitiesWithinYear    0
TrainingOpportunitiesTaken         0
WorkLifeBalance                    0
SelfRating                         0
ManagerRating                      0
dtype: int64

RatingLevel - Missing Values by Column:
RatingID       0
RatingLevel    0
dtype: int64

SatisfiedLevel - Missing Values by Column:
SatisfactionID       0
SatisfactionLevel    0
dtype: int64

No missing values were found across all datasets. Therefore, no imputation or removal was required.

## **5. Handling Duplicate Data**

In [5]:
# CHECK DUPLICATE DATA FOR ALL TABLES

datasets = {
    "Employee": employee,
    "EducationLevel": education,
    "PerformanceRating": performance,
    "RatingLevel": rating,
    "SatisfiedLevel": satisfaction
}

for name, df in datasets.items():
    duplicates = df.duplicated().sum()
    print(f"{name} - Number of duplicate rows: {duplicates}")

Employee - Number of duplicate rows: 0
EducationLevel - Number of duplicate rows: 0
PerformanceRating - Number of duplicate rows: 0
RatingLevel - Number of duplicate rows: 0
SatisfiedLevel - Number of duplicate rows: 0

No duplicate data were found across all datasets. Therefore, no action was required.

## **6. Handling Inconsistent Data**

In [6]:
# CHECK CATEGORICAL VALUE CONSISTENCY FOR ALL TABLES

datasets = {
    "Employee": employee,
    "EducationLevel": education,
    "PerformanceRating": performance,
    "RatingLevel": rating,
    "SatisfiedLevel": satisfaction
}

print("=== CATEGORICAL VALUE CONSISTENCY CHECK ===")
for name, df in datasets.items():
    cat_cols = df.select_dtypes(include="object").columns
    if len(cat_cols) == 0:
        print(f"\n{name}: No categorical columns")
        continue

    print(f"\n{name}:")
    for col in cat_cols:
        unique_values = df[col].str.strip().unique()
        print(f"  {col}: {unique_values}")

=== CATEGORICAL VALUE CONSISTENCY CHECK ===

Employee:
  EmployeeID: ['3012-1A41' 'CBCB-9C9D' '95D7-1CE9' ... 'EBF4-5928' '60E6-B1D9'
 '84D4-D4C3']
  FirstName: ['Leonelle' 'Leonerd' 'Ahmed' ... 'Rudolph' 'Merill' 'Naoma']
  LastName: ['Simco' 'Aland' 'Sykes' ... 'MacDearmont' 'Agg' 'Hebbard']
  Gender: ['Female' 'Male' 'Non-Binary' 'Prefer Not To Say']
  BusinessTravel: ['Some Travel' 'No Travel' 'Frequent Traveller']
  Department: ['Sales' 'Human Resources' 'Technology']
  State: ['IL' 'CA' 'NY']
  Ethnicity: ['White' 'Asian or Asian American' 'Mixed or multiple ethnic groups'
 'Black or African American' 'Native Hawaiian' 'Other'
 'American Indian or Alaska Native']
  EducationField: ['Marketing' 'Computer Science' 'Technical Degree' 'Information Systems'
 'Other' 'Economics' 'Human Resources' 'Business Studies']
  JobRole: ['Sales Executive' 'HR Business Partner' 'Engineering Manager' 'Recruiter'
 'Data Scientist' 'Machine Learning Engineer' 'Manager'
 'Software Engineer' 'Senior Software Engineer' 'Sales Representative'
 'Analytics Manager' 'HR Executive' 'HR Manager']
  MaritalStatus: ['Divorced' 'Single' 'Married']
  OverTime: ['No' 'Yes']
  Attrition: ['No' 'Yes']

EducationLevel:
  EducationLevel: ['No Formal Qualifications' 'High School' 'Bachelors' 'Masters'
 'Doctorate']

PerformanceRating:
  PerformanceID: ['PR01' 'PR02' 'PR03' ... 'PR997' 'PR998' 'PR999']
  EmployeeID: ['79F7-78EC' 'B61E-0F26' 'F5E3-48BB' ... 'AAD7-8DDC' 'A2AE-FD61'
 'D6BA-10A1']

RatingLevel:
  RatingLevel: ['Unacceptable' 'Needs Improvement' 'Meets Expectation'
 'Exceeds Expectation' 'Above and Beyond']

SatisfiedLevel:
  SatisfactionLevel: ['Very Dissatisfied' 'Dissatisfied' 'Neutral' 'Satisfied' 'Very Satisfied']

In [7]:
# ===============================
# CHECK FOREIGN KEYS
# ===============================

# 1. EDUCATION (Employee → EducationLevel)
print("\n=== FOREIGN KEY CHECK: EDUCATION ===")

invalid_education = (
    ~employee["Education"]
    .isin(education["EducationLevelID"])
).sum()

print(f"Invalid Education references: {invalid_education}")


# 2. EMPLOYEE ID (PerformanceRating → Employee)
print("\n=== FOREIGN KEY CHECK: EMPLOYEE ID ===")

invalid_employee_id = (
    ~performance["EmployeeID"]
    .isin(employee["EmployeeID"])
).sum()

print(f"Invalid EmployeeID references: {invalid_employee_id}")


# 3. SATISFACTION (PerformanceRating → SatisfiedLevel)
print("\n=== FOREIGN KEY CHECK: SATISFACTION ===")

satisfaction_columns = [
    "EnvironmentSatisfaction",
    "JobSatisfaction",
    "RelationshipSatisfaction"
]

for col in satisfaction_columns:
    invalid_count = (
        ~performance[col]
        .isin(satisfaction["SatisfactionID"])
    ).sum()
    print(f"Invalid {col} references: {invalid_count}")


# 4. PERFORMANCE RATING (PerformanceRating → RatingLevel)
print("\n=== FOREIGN KEY CHECK: PERFORMANCE RATING ===")

rating_columns = [
    "SelfRating",
    "ManagerRating"
]

for col in rating_columns:
    invalid_count = (
        ~performance[col]
        .isin(rating["RatingID"])
    ).sum()
    print(f"Invalid {col} references: {invalid_count}")

=== FOREIGN KEY CHECK: EDUCATION ===
Invalid Education references: 0

=== FOREIGN KEY CHECK: EMPLOYEE ID ===
Invalid EmployeeID references: 0

=== FOREIGN KEY CHECK: SATISFACTION ===
Invalid EnvironmentSatisfaction references: 0
Invalid JobSatisfaction references: 0
Invalid RelationshipSatisfaction references: 0

=== FOREIGN KEY CHECK: PERFORMANCE RATING ===
Invalid SelfRating references: 0
Invalid ManagerRating references: 0

In [8]:
# CHECK LOGICAL RANGE (EMPLOYEE TABLE)

print("\n=== LOGICAL RANGE CHECK (EMPLOYEE TABLE) ===")

# Age should be between 18 and 65
invalid_age = (~employee["Age"].between(18, 65)).sum()
print(f"Invalid Age (outside 18–65): {invalid_age}")

# Salary should be positive
invalid_salary = (employee["Salary"] <= 0).sum()
print(f"Invalid Salary (<= 0): {invalid_salary}")

# Years at company should not be negative
invalid_years = (employee["YearsAtCompany"] < 0).sum()
print(f"Invalid Years at Company (< 0): {invalid_years}")

=== LOGICAL RANGE CHECK (EMPLOYEE TABLE) ===
Invalid Age (outside 18–65): 0
Invalid Salary (<= 0): 0
Invalid Years at Company (< 0): 0

## **7. Save Cleaned Data**

In [ ]:
employee.to_csv("employee.csv", index=False)
education.to_csv("education_level.csv", index=False)
performance.to_csv("performance_rating.csv", index=False)
rating.to_csv("rating_level.csv", index=False)
satisfaction.to_csv("satisfied_level.csv", index=False)